<h1>Benny#hello this is ruby</h1>
<p>Find me in app/views/benny/hello.html.erb</p>

<%= @myvariable.class %>

<BR>

<%= @myvariable %>

<BR>

<%= @myvariable.name %>

<BR>

<%= @myvariable.home %>

<BR>

<%= @myvariable.location %>


<p>Foo</p>
