<h1>Benny#hello this is ruby</h1>
<p>Find me in app/views/benny/hello.html.erb</p>

<h1>Name: <%= @myvariable.name %></h1>
<h1>Home: <%= @myvariable.home %></h1>
<h2>Location: <%= @myvariable.location  %></h1>

<hr />

<%= @myvariable.class %>

<hr />

<%= @myvariable.inspect %>

<hr />

